h1,p{
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    color: aquamarine;
    
}
p{
    
    font-size:23px;
    font-weight: 700;
}
img{

    border-radius: 30%;
    height: 30%;
    width: 30%;
    /*Keep always properties in alphabetical order*/
    

}
.spinach_png:hover{
    background-color:aquamarine;
    /* background-color can be applied only to png images*/
}

.circular:hover{
    border-radius: 50%;
}
.skull{
    background-color: gray;
}