body {
    background-color: azure !important;
    font-family: 'Courier New', Courier, monospace;
  }
  hr {
    border-width: 7px;
    border-style: dotted none none;
    border-color: #e3e0e5;
    width: 7%;
  }
h1,h3{
  
  color: #66BFBF ;
}

a{
  text-decoration: none;
}